[submodule "FunctionRunner"]
	path = FunctionRunner
	url = git@github.com:davidfrickert/FunctionRunner.git
[submodule "openwhisk-devtools"]
	path = openwhisk-devtools
	url = git@github.com:davidfrickert/openwhisk-devtools.git
[submodule "Photons-Original"]
	path = Photons-Original
	url = https://github.com/davidfrickert/openwhisk-runtime-java.git
	branch = devel
[submodule "ow-docker-slim"]
	path = graalvm-builds/openwhisk-runtime-docker-slim
	url = git@github.com:davidfrickert/openwhisk-runtime-docker-slim.git
[submodule "openwhisk-faas-graalvm-base"]
	path = openwhisk-faas-graalvm-base
	url = git@github.com:davidfrickert/openwhisk-faas-graalvm-base
